language: java
      jdk: oraclejdk11
      script: ./mvnw -e verify
      deploy:
        provider: heroku
        api_key: $HEROKU_KEY
        app:  spring-final-project-itpark
        # git strips the wrapper jar file so we have to force its download during the build
      install:
        - mvn -N io.takari:maven:wrapper
        - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
      after_success:
        - bash <(curl -s https://codecov.io/bash)