<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<ul data-th-if="${!items.isEmpty()}">
    Велосипеды и самокаты, которые вы можете арендовать!
        <li data-th-each="item : ${items}">
        <a data-th-href="@{/{id}(id=${item.id})}">
            [[${item.name}]]

        </a>
    </li>
</ul>
<h4 data-th-if="${items.isEmpty()}">Товар не найден</h4>
</body>
</html>