<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p data-th-if="${goods.id != 0}">
<img data-th-src="@{/media/{path}(path=${goods.path})}">
<h2>[[${goods.describe}]]</h2>
<form data-th-action="@{/rent}" method="post">

    <input name="time">
    <input name="goodsId" data-th-value="${goods.id}" hidden   >

    <p> Укажите время аренды</p>
    <button style="color: cornflowerblue">Взять в аренду</button>
</form>
<a href="/">На главную</a>


</body>
</html>