<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<img data-th-src="@{/media/{path}(path=${goods.path})}">
<h2>[[${goods.describe}]]</h2>
<h2>Цена аренды инвентаря составляет [[${goods.price}]] р/час</h2>
<form data-th-if="${hasCurrentRent}" data-th-action="@{/rent}" method="post">

    <input placeholder="Время аренды" id="Укажите время аренды" name="time" class="validate" required>

    <input name="goodsId" data-th-value="${goods.id}" hidden>

    <p> Укажите время аренды в часах</p>


    <button class="btn btn-outline-Взять в аренду" type="submit">Взять в аренду</button>
</form>
<a data-th-if="${!hasCurrentRent}" data-th-href="${'/'+goods.id+'/rent'}" class="h1">К аренде</a>
<br>
<a href="/">На главную</a>


</body>
</html>