<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<h1 align="center" style="background-color:darkgreen"> Аренда самокатов и велосипедов </h1>
<form action="http://localhost:8080/search" method="get">
    <input name="name">
    <button>Поиск по наименованию</button>
    </form>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <img src="https://trial-sport.ru/images/catalog/c17_c23107m_ble_1256299_1256587.jpg"
             class="card-img-top" alt="..." width="20%">
        <div class="card-body">
            <h5 class="card-title">Велосипеды</h5>
            <a href="/index/BC" class="btn btn-danger" type="submit">Перейти</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="http://samokat-sportum.ru/pictures/product/big/5333_big.jpg" width="50%"> >
        <div class="card-body">
            <h5 class="card-title">Самокаты</h5>
            <a href="/index/SK" class="btn btn-danger" type="submit">Перейти</a>
        </div>
    </div>


</div>
</body>
</html>