<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<h1 style="background-color:azure"> Аренда самокатов и велосипедов </h1>
<form action="http://localhost:8080/search" method="get">
    <input name="name">
    <button>search</button>
</form>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <img height="608" width="407" src="https://mountainpeaks.ru/upload/medialibrary/16a/dorozhnye-velosipedy.jpg"
             class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Велосипеды</h5>
            <a href="/index/BC" class="btn btn-primary">Перейти</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img height="608" width="437" src="http://ti71.ru/upload/iblock/348/348278b68044bef801a272d28fa6344a.jpg" alt="...">
        <div class="card-body">
            <h5 class="card-title">Самокаты</h5>
            <a href="/index/SK" class="btn btn-primary">Перейти</a>
        </div>
    </div>


</div>
</body>
</html>