<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img data-th-src="@{/media/{path}(path=${goods.path})}">
<h1>Вам нужно сдать инвентарь в [[${time}]]</h1>
<p></p>
<h1>Вам нужно заплатить [[${cost}]] рублей</h1>


<p></p>
<p></p>

<a data-th-href="${'/'+goodsId}">Назад</a>
<br>
<a href="/">На главную</a>
</body>
</html>